{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Incluir Produto</h1>
<hr>
<div class="container">
  <form class="form" method="post">{% csrf_token %}
    <fieldset>
      <div class="form-row">
          <div class="form-group col-md-6 mb-0">
                 {{ form.produto|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
                 {{ form.custo|as_crispy_field }}
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6 mb-0">
                 {{ form.margem|as_crispy_field }}
          </div>
          <div class="form-group col-md-2 mb-0">
                 {{ form.preco|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
                 {{ form.fornecedor|as_crispy_field }}
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6 mb-0">
                 {{ form.marca|as_crispy_field }}
          </div>
          <div class="form-group col-md-2 mb-0">
                 {{ form.modelo|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
                 {{ form.caracteristica|as_crispy_field }}
          </div>
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>

    </fieldset>

  </form>
</div>
{% endblock %}