asgiref==3.2.3
astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
Django==3.1.14
django-bootstrap-form==3.4
django-crispy-forms==1.8.1
django-debug-toolbar==2.2.1
pypi-get==2019.4.13
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
localflavor==1.8
mccabe==0.6.1
node==0.9.24
odict==1.7.0
plumber==1.5
post==2019.4.13
public==2019.4.13
pylint==2.4.4
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
six==1.11.0
sqlparse==0.3.0
uploader==0.4.1
urllib3==1.26.5
virtualenv==16.7.9
wrapt==1.11.2
zope.component==4.6
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
zope.lifecycleevent==4.3
zope.proxy==4.3.3

