
fieldset{
width: 55%;
height: auto;
}

.cliente{


}
.medidas{

border-bottom: 1mm ridge rgb(170, 50, 220, .1);
display: flex;
justify-content: space-between;
}

.input{
display: flex;
justify-content: space-between;
}

.select {
width: 80%;
display: flex;
justify-content: space-between;
}
