<!DOCTYPE html>
{% load my_tags %}
{% load static %}
<html lang="pt-br">
<head>
  {% block title %}<title>Pool Budget</title>{% endblock %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>

<div class="container-fluid">
    <h1 align="center" >
        <img  src="{% static 'img/joaninha2.jpg' %}" width="50" height="50">
        <span onmouseover="letras(0)">P</span>
        <span onmouseover="letras(1)">o</span>
        <span onmouseover="letras(2)">o</span>
        <span onmouseover="letras(3)">l</span>
        <span onmouseover="letras(4)">_</span>
        <span onmouseover="letras(5)">B</span>
        <span onmouseover="letras(6)">u</span>
        <span onmouseover="letras(7)">d</span>
        <span onmouseover="letras(8)">g</span>
        <span onmouseover="letras(9)">e</span>
        <span onmouseover="letras(10)">t</span>
    </h1>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <span><a class="navbar-brand" href="{% url 'index' %}">HOME</a></span>
            <span><a class="navbar-brand" href="{% url 'orcamento' %}">Lista de Orçamentos</a></span>
            <span><a class="navbar-brand" href="{% url 'cliente' %}">Lista de Clientes</a></span>
            <span><a class="navbar-brand" href="http://127.0.0.1:8000/admin">ADMIN</a></span>
    </nav>

    <div class="col-sm-8 ">{% block content %}{% endblock %}</div>
        {% block pagination %}
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        {% endblock %}
</div>
<hr>
    <footer class="bg-4 text-center">
        <p align="left">  Progresso do site <progress value="70" max="100">70 %</progress></p>
        <p> Desenvolvido com Django 3.0.3 por Leonardo Pereira - <a href="https://github.com/leopesi">GitHub</a></p>
        <p>{% current_time "%Y-%m-%d %I:%M %p" as the_time %} Hora do Servidor {{ the_time }}</p>
    </footer>
<script src="{% static 'js/color_letters.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>