{% extends "base_generic.html" %}

{% block content %}
<br>
<br>
<h1>Clientes</h1>
<hr>
{% if lista_cliente %}

    <table class="table">
      <thead class="thead-light">
      <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Sobrenome</th>
      </tr>
      </thead>
      {% for cliente in lista_cliente %}
      <tr>
      <td><a href="{{ cliente.get_absolute_url }}">{{ cliente.nome }}</a>  </td>
      <td>{{ cliente.sobrenome }}</td>
      </tr>
      {% endfor %}
    </table>

<hr>
<p><strong><a href="{% url 'cliente_create' %}">Incluir cliente</a></strong></p>
{% else %}
  <p>There are no authors available.</p>'
{% endif %}
        
        
        
{% endblock %}