{% extends "base_generic.html" %}

{% block content %}
<br>
<br>
  <h1>{{ object.nome }}</h1>
{% if lista_cliente %}

  <h4><strong>INFORMAÇÕES CADASTRAIS:</strong></h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Nome:</b> {{ object.nome }} </li>
          <li class="list-group-item"><b>Sobrenome:</b> {{ object.sobrenome }}</li>
          <li class="list-group-item"><b>Cidade:</b> {{ object.cidade }}</li>
          <li class="list-group-item"><b>Estado:</b> {{ object.estado }}</li>
          <li class="list-group-item"><b>Rua:</b> {{ object.rua }}</li>
          <li class="list-group-item"><b>N°:</b> {{ object.numero_casa }}</li>
          <li class="list-group-item"><b>Cep:</b> {{ object.cep }}</li>
          <li class="list-group-item"><b>Telefone:</b> {{ object.telefone }}</li>
          <li class="list-group-item"><b>E-mail:</b> {{ object.email }}</li>
        </ul>
<p><strong><a href="{% url 'cliente_update' object.pk %}">Alterar</a> | <a href="{% url 'cliente_delete' object.pk %}">Excuir</a></strong></p>

{% else %}
  <p>Objeto não encontrado.</p>'
{% endif %}

{% endblock %}