{% extends "base_generic.html" %}

{% block content %}

{% if update_cliente %}

{{ form.source }}
<div class="container-fluid">

  <div class="row"></div>
  <h1>Informações Cadastrais</h1>

  <form action="" method="post">
        {% csrf_token %}
    <div class="row">
        <div class="col-md-8 col-xs-8 col-sm-8">
            <b> Nome:</b>{{ form.nome }} <b> Sobrenome: </b>{{ form.sobrenome }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
            <b> Cidade:</b> {{ form.cidade }} - <b> Estado: </b>{{ form.estado }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
            <b> Endereço: </b>{{ form.rua }}, <b> Número: </b>{{ form.numero_casa }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
            <b> Bairro:</b> {{ form.bairro }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
          <b> CEP:</b> {{ form.cep }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
          <b>Telefone:</b> {{ form.telefone }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
          <b>Email:</b> {{ form.email }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
<br>
    <div class="col-md-1 col-xs-1 col-sm-1">
      <input type="submit" value="Submit">
    </div>

  </form>
</div>

{% else %}
  <p>Objeto não encontrado.</p>
{% endif %}




{% endblock %}