{% extends "base_generic.html" %}

{% block content %}
<br>
<br>
  <h1>{{ object.nome }}</h1>
{% if update_cliente %}

{{ form.source }}

  <h4><strong>INFORMAÇÕES CADASTRAIS:</strong></h4>
      <form action="" method="post">
        {% csrf_token %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Nome:</b> {{ form.nome }} </li>
          <li class="list-group-item"><b>Sobrenome:</b> {{ form.sobrenome }}</li>
          <li class="list-group-item"><b>Cidade:</b> {{ form.cidade }}</li>
          <li class="list-group-item"><b>Estado:</b> {{ form.estado }}</li>
          <li class="list-group-item"><b>Rua:</b> {{ form.rua }}</li>
          <li class="list-group-item"><b>N°:</b> {{ form.numero_casa }}</li>
          <li class="list-group-item"><b>Cep:</b> {{ form.cep }}</li>
          <li class="list-group-item"><b>Telefone:</b> {{ form.telefone }}</li>
          <li class="list-group-item"><b>E-mail:</b> {{ form.email }}</li>
        </ul>
        <input type="submit" value="Submit">
      </form>

{% else %}
  <p>Objeto não encontrado.</p>
{% endif %}




{% endblock %}