{% extends "base_generic.html" %}

{% block content %}
<br>
<br>
<h1>Clientes</h1>

{% if cliente_lista %}

    <table>
      <tr>
      <th>Cliente</th>
      <th>Sobrenome</th>
      </tr>
      {% for cliente in cliente_lista %}
      <tr>
      <td><a href="{{ cliente.get_absolute_url }}">{{ cliente.nome }}</a>  </td>
      <td>{{ cliente.sobrenome }}</td>
      </tr>
      {% endfor %}
    </table>

  <p><strong><a href="">Include a new author</a></strong></p>
{% else %}
  <p>There are no authors available.</p>'
{% endif %}
        
        
        
{% endblock %}