{% extends "base_generic.html" %}

{% block content %}
<br>
<br>
  <h1>{{ object.nome }}</h1>
{% if cliente_lista %}

  <h4><strong>INFORMAÇÕES CADASTRAIS:</strong></h4>
        <ul>
          <li><b>Nome:</b> {{ object.nome }} </li>
          <li><b>Sobrenome:</b> {{ object.sobrenome }}</li>
          <li><b>Cidade:</b> {{ object.cidade }}</li>
          <li><b>Estado:</b> {{ object.estado }}</li>
          <li><b>Rua:</b> {{ object.rua }}</li>
          <li><b>N°:</b> {{ object.numero_casa }}</li>
          <li><b>Cep:</b> {{ object.cep }}</li>
          <li><b>Telefone:</b> {{ object.telefone }}</li>
          <li><b>E-mail:</b> {{ object.email }}</li>
        </ul>
        <p><strong><a href="{% url 'cliente_update' object.pk %}">Alterar</a></strong></p>

{% else %}
  <p>Objeto não encontrado.</p>'
{% endif %}

{% endblock %}