{% extends "base_generic.html" %}

{% block content %}

{% if lista_cliente %}

<div class="container-fluid">

  <div class="row"></div>
  <h1>Informações Cadastrais</h1>

    <div class="row">
        <div class="col-md-8 col-xs-8 col-sm-8">
            <p class="h4">
            <h3>{{ object.nome_completo }}</h3>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
            <b> Cidade:</b> {{ object.cidade }} - {{ object.estado }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
            <b> Endereço: </b>{{ object.rua }}, {{ object.numero_casa }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
            <b> Bairro:</b> {{ object.bairro }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
          <b> CEP:</b> {{ object.cep }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
          <b>Telefone:</b> {{ object.telefone }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10">
          <b>Email:</b> {{ object.email }}
        </div>
      <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
<br>
    <div class="col-md-1 col-xs-1 col-sm-1">
        <a href="{% url 'cliente_update' object.pk %}">
            <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </a>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1">
        <a href="{% url 'cliente_delete' object.pk %}">
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </a>
    </div>

</div>


{% else %}
  <p>Objeto não encontrado.</p>'
{% endif %}

{% endblock %}