{% extends "base_generic.html" %}

{% block content %}
<br>
<br>
<h1>Orçamentos</h1>
<hr>
{% if lista_orcamento %}

    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Vendedor</th>
        <th scope="col">Status</th>
        <th scope="col">Data</th>
        <th></th>
      </tr>
      </thead>
      {% for orcamento in lista_orcamento %}
      <tr>
        <td><a href="{{ orcamento.get_absolute_url }}">{{ orcamento.cliente.nome_completo }}</a></td>
        <td>{{ orcamento.usuario }}</td>
        <td>{{ orcamento.status }}</td>
        <td>{{ orcamento.data }}</td>
        <td><a href="{% url 'orcamento_delete' orcamento.pk %}"><font color="FireBrick">Excuir</font></a></td>
      </tr>
      {% endfor %}
    </table>
{% else %}
  <p>There are no authors available.</p>
{% endif %}
<hr>
<p><strong><a href="{% url 'orcamento_create' %}">Incluir orçamento</a></strong></p>


        
        
        
{% endblock %}