{% extends "base_generic.html" %}

{% block content %}
<br>
<br>

<h1><a href="{{ object.cliente.get_absolute_url }}"> {{ object.cliente }} </a> </h1>
    <table class="table">
      <thead class="thead-light">
      <tr>
      <th scope="col">Data de Criação</th>
      <th scope="col">Vendedor</th>
      <th scope="col">Status</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Espessura</th>
      </tr>
      </thead>
      <tr>
      <td>{{ object.data }}</td>
      <td>{{ object.usuario }}</td>
      <td>{{ object.status }}</td>
      <td>{{ object.fornecedor }}</td>
      <td>{{ object.espessura }}</td>
      </tr>
    </table>
{% if lista_orcamento %}

  <h4 align="center"><p><strong>Preço da Piscina </strong> </p></h4>
      <p align="center"><strong>R$ 18.000,00 </strong> </p>


  <h4><span class="badge badge-secondary">DIMENSÕES</span></h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Comprimento:</b> {{ object.comprimento}} <i>(metro)</i></li>
          <li class="list-group-item"><b>Largura:</b> {{ object.largura }} <i>(metro)</i></li>
          <li class="list-group-item"><b>Prof. Inicial:</b> {{ object.prof_inicial }} <i>(metro)</i></li>
          <li class="list-group-item"><b>Prof. Final:</b> {{ object.prof_final }} <i>(metro)</i></li>
          <li class="list-group-item"><b>Largura da Calçada:</b> {{ object.largura_calcada }} <i>(metro)</i></li>
          {{object.media}}
          <li class="list-group-item"><b>Profundidade Média:</b> {{ object.profundidade_media }} <i>(metro)</i></li>
          <li class="list-group-item"><b>Área de Calçada:</b> {{ object.area_calcada }} <i>(m²)</i></li>
          <li class="list-group-item"><b>Perímetro:</b> {{ object.perimetro }} <i>(metro linear)</i></li>
          <li class="list-group-item"><b>M² Facial:</b> {{ object.m2_facial }}</li>
          <li class="list-group-item"><b>M² de parede:</b> {{ object.m2_parede }}</li>
          <li class="list-group-item"><b>M² Total:</b> {{ object.m2_total }}</li>
          <li class="list-group-item"><b>M³ Total:</b> {{ object.m3_total }}</li>
          <li class="list-group-item"><b>M³ Real:</b> {{ object.m3_real }}</li>
        </ul>
  <h4><span class="badge badge-secondary">KIT DE REVESTIMENTO</span></h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Vinil:</b> {{ object.m2_total}} <i>(m²)</i></li>
          <li class="list-group-item"><b>Isomanta:</b> {{ object.m2_facial }} <i>(m²)</i></li>
          <li class="list-group-item"><b>Perfil Fixo:</b> {{ object.perimetro }} <i>(metro linear)</i></li>
        </ul>
  <h4><span class="badge badge-secondary">CONJUNTO FILTRANTE</span></h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Filtro:</b> {{ object.filtro}}</li>
          <li class="list-group-item"><b>Motobomba:</b> {{ object.motobomba }}</li>
          <li class="list-group-item"><b>Tampa da Casa de Máquinas:</b> {{ object.tampa_casa_maquinas }}</li>
          <li class="list-group-item"><b>Sacos de areia:</b> {{ object.sacos_areia}}</li>
        </ul>
  <h4><span class="badge badge-secondary">MÃO DE OBRA</span></h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Escavação:</b> {{ object.m3_total }} <i>(m³ de terra)</i></li>
          <li class="list-group-item"><b>Construção:</b> {{ object.m2_parede }} <i>(m² de paredes)</i></li>
          <li class="list-group-item"><b>Contra Piso:</b> {{ object.area_calcada }} <i>(m² )</i></li>
          <li class="list-group-item"><b>Remoção de Terra:</b> {{ object.m3_total }} <i>(m³)</i></li>
          <li class="list-group-item"><b>Instalação de Vinil:</b> {{ object.m2_total}} <i>(m²)</i></li>
        </ul>

<p><strong><a href="{% url 'orcamento_update' object.pk %}">Alterar</a> | <a href="{% url 'orcamento_delete' object.pk %}">Excuir</a></strong></p>

{% else %}
  <p>Objeto não encontrado.</p>'
{% endif %}

        
{% endblock %}