{% extends "base_generic.html" %}

{% block content %}
<br>
<br>

<h1><a href="{{ object.cliente.get_absolute_url }}"> {{ object.cliente }} </a> </h1>

{% if revestimento_update %}



  <h4 align="center"><p><strong>Preço da Piscina </strong> </p></h4>
      <p align="center"><strong>R$ 18.000,00 </strong> </p>


  <h5><strong>DIMENSÕES</strong></h5>
        <ul>
          <li><b>Comprimento:</b> {{ object.dimensoes.comprimento}} <i>(metro)</i></li>
          <li><b>Largura:</b> {{ object.dimensoes.largura }} <i>(metro)</i></li>
          <li><b>Prof. Inicial:</b> {{ object.dimensoes.prof_inicial }} <i>(metro)</i></li>
          <li><b>Prof. Final:</b> {{ object.dimensoes.prof_final }} <i>(metro)</i></li>
          <li><b>Largura da Calçada:</b> {{ object.dimensoes.largura_calcada }} <i>(metro)</i></li>
        </ul>
<hr>
        <ul>
          <li><b>Largura da Calçada:</b> {{ object.dimensoes_calc.largura_calcada }} <i>(metro)</i></li>
          <li><b>Profundidade Média:</b> {{ object.dimensoes_calc.profundidade_media }} <i>(metro)</i></li>
          <li><b>Área de Calçada:</b> {{ object.dimensoes_calc.area_calcada }} <i>(m²)</i></li>
          <li><b>Perímetro:</b> {{ object.dimensoes_calc.perimetro }} <i>(metro linear)</i></li>
          <li><b>M² Facial:</b> {{ object.dimensoes_calc.m2_facial }}</li>
          <li><b>M² de parede:</b> {{ object.dimensoes_calc.m2_parede }}</li>
          <li><b>M² Total:</b> {{ object.dimensoes_calc.m2_total }}</li>
          <li><b>M³ Total:</b> {{ object.dimensoes_calc.m3_total }}</li>
          <li><b>M³ Real:</b> {{ object.dimensoes_calc.m3_real }}</li>
        </ul>
<hr>

  <h5><strong>KIT DE REVESTIMENTO</strong> </h5>
    {{ form.source }}
    <form action="" method="post">
        {% csrf_token %}
        <ul>
          <li><b>Vinil:</b> {{ form.vinil_m2}}<i>(m²)</i></li>
          <li><b>Isomanta:</b> {{ form.isomanta_m2 }} <i>(m²)</i></li>
          <li><b>Perfil Fixo:</b> {{ form.perfil_fixo_m}} <i>(metro linear)</i></li>
        </ul>
        <input type="submit" value="Submit">
    </form>

<hr>

  <h5><strong>CONJUNTO FILTRANTE</strong> </h5>
      <ul>
          <li><b>Filtro:</b> {{ object.conj_filtrante.filtro}}</li>
          <li><b>Motobomba:</b> {{ object.conj_filtrante.motobomba }}</li>
          <li><b>Tampa da Casa de Máquinas:</b> {{ object.conj_filtrante.tampa_casa_maquinas }}</li>
          <li><b>Sacos de areia:</b> {{ object.conj_filtrante.sacos_areia}}</li>
      </ul>
<hr>

  <h5><strong>MÃO DE OBRA</strong> </h5>
      <ul>
          <li><b>Escavação:</b> {{ object.mao_obra.escavacao}} <i>(m³ de terra)</i></li>
          <li><b>Construção:</b> {{ object.mao_obra.construcao }} <i>(m² de paredes)</i></li>
          <li><b>Filtro:</b> {{ object.mao_obra.filtro.filtro}}</li>
          <li><b>Motobomba:</b> {{ object.mao_obra.motobomba}}</li>
          <li><b>Instalação de Vinil:</b> {{ object.mao_obra.instalacao_vinil}} <i>(m²)</i></li>
      </ul>
<hr>

{% else %}
  <p>Objeto não encontrado.</p>'
{% endif %}


{% endblock %}